body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;

	& header {
		& img[alt="eccs0103 logo"] {
			width: calc(6 * var(--size-standart));
		}

		& div.social-media {
			width: 100%;
			justify-content: space-evenly;

			&:not(:has(a)) {
				display: none;
			}

			& a {
				color: var(--color-highlight);

				&.integrated {
					/* TODO */
				}
			}
		}
	}

	& main {
		& span.warning {
			align-self: center;
			font-size: 0.9em;
		}

		& div.activity {
			display: grid;
			grid-template:
				'activity-icon		activity-platform	activity-timepan' max-content
				'activity-content	activity-content	activity-content' max-content
				/ max-content max-content 1fr
			;

			&.rounded {
				border-radius: calc(var(--size-gap) * 2);
			}

			& > img.icon {
				grid-area: activity-icon;
				width: var(--size-standart);
			}

			& > .platform {
				grid-area: activity-platform;
				align-self: center;
			}

			& > time.activity-time {
				grid-area: activity-timepan;
				font-size: 0.9em;
				justify-self: end;
			}

			& > div.content {
				grid-area: activity-content;

				& details.github-collection {
					& > summary {
						list-style-type: disc;
						cursor: pointer;

						&::marker {
							color: var(--color-highlight);
						}
					}

					&[open] > summary {
						list-style-type: circle;
					}

					& ul.collection-content {
						margin-top: var(--size-gap);
						margin-left: 0.05em;
						padding-left: 0.7em;
						list-style-type: none;
						line-height: 1.5;
						border-left: 2px solid var(--color-light-negative);
					}
				}

				& img.spotify-cover {
					width: calc(3 * var(--size-standart));
				}

				& a.spotify-link {
					font-size: 0.9em;
				}

				& img.steam-icon {
					width: calc(2 * var(--size-standart));
				}

				& img.steam-screenshot {
					max-width: 100%;
					max-height: 400px;
					object-fit: cover;
					border: 1px solid var(--color-heavy-main);
				}

				& details.stack-overflow {
					& > summary {
						cursor: pointer;
						list-style: none;

						&::-webkit-details-marker {
							display: none;
						}
					}
					
					& > summary > div {
						padding: calc(var(--size-gap) / 2) 0;
					}

					& > div.stack-overflow-content {
						margin-top: var(--size-gap);
						padding-left: var(--size-gap);
						border-left: 2px solid var(--color-light-negative);
						
						& div.markup {
							font-family: inherit;
							
							& pre, & code {
								background-color: var(--color-heavy-main);
								padding: 0.1em 0.3em;
								border-radius: 4px;
								font-family: "Cascadia Code", "Consolas", monospace;
							}
							
							& blockquote {
								border-left: 3px solid var(--color-light-negative);
								padding-left: var(--size-gap);
								color: var(--color-light-negative);
							}
						}

						& div.tags {
							flex-wrap: wrap;

							& span.tag {
								background-color: var(--color-heavy-main);
								color: var(--color-highlight);
								padding: 0.2em 0.5em;
								border-radius: 4px;
								font-size: 0.8em;
							}
						}
					}
				}
			}
		}

		& div.sentinel {
			width: 100%;
			height: 1px;
			visibility: hidden;
		}

		& span.ending {
			align-self: center;
			font-size: 0.9em;
		}
	}

	& footer {
		display: grid;
	}

	& dialog.loader img[alt="Logo"] {
		content: url(../../assets/icons/loading.gif);
	}
}
