body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;

	& header {
		& img[alt="eccs0103 logo"] {
			width: calc(6 * var(--size-standart));
		}

		& div.social-media {
			width: 100%;
			justify-content: space-evenly;

			&:not(:has(a)) {
				display: none;
			}

			& a {
				color: var(--color-highlight);

				&.integrated {
					/* TODO */
				}
			}
		}
	}

	& main {
		& span.intro {
			align-self: center;
			font-size: 0.9em;
		}

		& div.activity {
			display: grid;
			grid-template:
				'activity-icon		activity-platform	activity-timepan' max-content
				'activity-content	activity-content	activity-content' max-content
				/ max-content max-content 1fr
			;

			&.rounded {
				border-radius: calc(var(--size-gap) * 2);
			}

			& > img.icon {
				grid-area: activity-icon;
				width: var(--size-standart);
			}

			& > .platform {
				grid-area: activity-platform;
				align-self: center;
			}

			& > time.activity-time {
				grid-area: activity-timepan;
				font-size: 0.9em;
				justify-self: end;
			}

			& > div.content {
				grid-area: activity-content;

				& details.github-collection {
					& > summary {
						list-style-type: disc;
						cursor: pointer;

						&::marker {
							color: var(--color-highlight);
						}
					}

					&[open] > summary {
						list-style-type: circle;
					}

					& ul.collection-content {
						margin-top: var(--size-gap);
						margin-left: 0.05em;
						padding-left: 0.7em;
						list-style-type: none;
						line-height: 1.5;
						border-left: 2px solid var(--color-light-negative);
					}
				}

				& img.spotify-cover {
					width: calc(3 * var(--size-standart));
				}

				& a.spotify-link {
					font-size: 0.9em;
				}

				& img.steam-icon {
					width: calc(2 * var(--size-standart));
				}

				& img.steam-screenshot {
					max-width: 100%;
					max-height: 400px;
					object-fit: cover;
					border: 1px solid var(--color-heavy-main);
				}

				& details.stack-overflow-entry {
					& > summary {
						cursor: pointer;
						list-style-type: none;

						&::-webkit-details-marker {
							display: none;
						}

						& > div.score-panel {
							min-width: var(--size-large-standart);
							padding: var(--size-gap);
							border: var(--size-separator) solid var(--color-heavy-main);
							border-radius: var(--size-gap);
							height: fit-content;

							& span.value {
								font-size: 1.4em;
								font-weight: bold;
								line-height: 1;
							}

							& div.view-count {
								margin-top: var(--size-small-gap);
								padding-top: var(--size-small-gap);
								border-top: var(--size-separator) solid var(--color-heavy-main);
								font-size: 0.7em;
								width: 100%;
								text-align: center;
								white-space: nowrap;
							}

							&.status-success {
								border-color: var(--color-highlight);
								background-color: rgb(from var(--color-highlight) r g b / 10%);

								& div.view-count {
									border-top-color: var(--color-highlight);
								}
							}
						}

						& div.summary-content {
							flex: 1;

							& a.entry-title {
								font-weight: bold;
								margin-top: var(--size-small-gap);
								display: inline-block;
							}

							& span.expand-hint {
								display: block;
								font-size: 0.8em;
								color: var(--color-light-negative);
							}

							& div.tags-list {
								flex-wrap: wrap;
								margin-top: var(--size-small-gap);

								& a.tag {
									font-size: 0.9em;

									&.rounded {
										border-radius: var(--size-small-gap);
									}

									&.with-padding {
										padding: var(--size-small-gap) var(--size-gap);
									}
								}
							}
						}
					}

					& > div.entry-body {
						margin-top: var(--size-gap);
						font-size: 0.95em;
						line-height: 1.6;

						& p {
							margin-bottom: 0.8em;
						}

						& pre {
							background-color: var(--color-heavy-main);
							padding: var(--size-gap);
							border-radius: var(--size-gap);
							overflow-x: auto;
							margin: 1em 0;
							line-height: 1.2;
						}

						& code {
							font-family: "Cascadia Code", monospace;
							background-color: var(--color-heavy-main);
							padding: 0.1em 0.3em;
							border-radius: var(--size-gap);
						}

						& pre code {
							background-color: transparent;
							padding: 0;
							font-size: 0.9em;
						}

						& blockquote {
							border-left: var(--size-gap) solid var(--color-light-negative);
							padding-left: var(--size-gap);
							margin: 1em 0;
							font-style: italic;
						}

						& img {
							max-width: 100%;
							height: auto;
							border-radius: var(--size-small-gap);
						}
					}
				}
			}
		}

		& div.sentinel {
			width: 100%;
			height: 1px;
			visibility: hidden;
		}

		& span.outro {
			align-self: center;
			font-size: 0.9em;
		}
	}

	& footer {
		display: grid;
	}

	& dialog.loader img[alt="Logo"] {
		content: url(../../assets/icons/loading.gif);
	}
}
