body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;

	& header {
		& img[alt="eccs0103 logo"] {
			width: calc(6 * var(--size-standart));
		}

		& div.social-media {
			width: 100%;
			justify-content: space-evenly;

			&:not(:has(a)) {
				display: none;
			}

			& a {
				color: var(--color-highlight);

				&.integrated {
					/* TODO */
				}
			}
		}
	}

	& main {
		& span.warning {
			align-self: center;
			font-size: 0.9em;
		}

		& div.activity {
			display: grid;
			grid-template:
				'activity-icon		activity-platform	activity-timepan' max-content
				'activity-content	activity-content	activity-content' max-content
				/ max-content max-content 1fr
			;

			&.rounded {
				border-radius: calc(var(--size-gap) * 2);
			}

			& > img.icon {
				grid-area: activity-icon;
				width: var(--size-standart);
			}

			& > .platform {
				grid-area: activity-platform;
				align-self: center;
			}

			& > time.activity-time {
				grid-area: activity-timepan;
				font-size: 0.9em;
				justify-self: end;
			}

			& > div.content {
				grid-area: activity-content;

				& details.github-collection {
					& > summary {
						list-style-type: disc;
						cursor: pointer;

						&::marker {
							color: var(--color-highlight);
						}
					}

					&[open] > summary {
						list-style-type: circle;
					}

					& ul.collection-content {
						margin-top: var(--size-gap);
						margin-left: 0.05em;
						padding-left: 0.7em;
						list-style-type: none;
						line-height: 1.5;
						border-left: 2px solid var(--color-light-negative);
					}
				}

				& img.spotify-cover {
					width: calc(3 * var(--size-standart));
				}

				& a.spotify-link {
					font-size: 0.9em;
				}

				& img.steam-icon {
					width: calc(2 * var(--size-standart));
				}
			}
		}

		& div.sentinel {
			width: 100%;
			height: 1px;
			visibility: hidden;
		}

		& span.ending {
			align-self: center;
			font-size: 0.9em;
		}
	}

	& footer {
		display: grid;
	}

	& dialog.loader img[alt="Logo"] {
		content: url(../../assets/icons/loading.gif);
	}
}
