body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;
}

img[alt="eccs0103 logo"] {
	width: calc(6 * var(--size-standart));
}

main > div.post {
	display: grid;
	grid-template:
		'platform-icon	post-timepan' max-content
		'post-content	post-content' max-content
		/ max-content 1fr
	;

	& > img.icon {
		grid-area: platform-icon;
		width: var(--size-standart);
	}

	& > time.timestamp {
		grid-area: post-timepan;
		font-size: 0.9em;
		justify-self: end;
	}

	& > div.content {
		grid-area: post-content;
	}
}

footer {
	display: grid;
}

.social-media {
	width: 100%;
	justify-content: space-evenly;
}

.integrated {
}

dialog.loader img[alt="Logo"] {
	content: url(../resources/loading.gif);
}
