body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;
}

img[alt="eccs0103 logo"] {
	width: calc(6 * var(--size-standart));
}

div.activity {
	display: grid;
	grid-template:
		'activity-icon		activity-timepan' max-content
		'activity-content	activity-content' max-content
		/ max-content 1fr
	;

	&.rounded {
		border-radius: calc(var(--size-gap) * 2);
	}

	& > img.icon {
		grid-area: activity-icon;
		width: var(--size-standart);
	}

	& > time.activity-time {
		grid-area: activity-timepan;
		font-size: 0.9em;
		justify-self: end;
	}

	& > div.content {
		grid-area: activity-content;

		& details.github-collection {
			& > summary {
				list-style-type: disc;
				cursor: pointer;
				/* text-decoration-line: underline; */
				/* text-decoration-color: var(--color-highlight); */

				&::marker {
					color: var(--color-highlight);
				}
			}

			&[open] > summary {
				list-style-type: circle;
			}

			& ul.collection-content {
				margin-top: var(--size-gap);
				margin-left: 0.05em;
				padding-left: 0.7em;
				list-style-type: none;
				line-height: 1.5;
				/* color: var(--color-text-description); */
				border-left: 2px solid var(--color-text-description);
			}
		}

		& img.spotify-cover {
			width: calc(3 * var(--size-standart));
		}

		& a.spotify-link {
			font-size: 0.9em;
		}
	}
}

footer {
	display: grid;
}

.social-media {
	width: 100%;
	justify-content: space-evenly;
}

.integrated {}

dialog.loader img[alt="Logo"] {
	content: url(../resources/loading.gif);
}
