body {
	margin-inline: auto;
	width: 100%;
	max-width: 100vmin;
	overflow-y: auto;
}

img[alt="eccs0103 logo"] {
	width: calc(6 * var(--size-standart));
}

main:not(:has(div)) {
	display: none;
	position: absolute;
}
main > div {
	display: grid;
	grid-template-rows: repeat(2, max-content);
}

footer {
	display: grid;
}

.social-media {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	justify-content: center;
	width: 100%;
}

.integrated {
}

dialog.loader img[alt="Logo"] {
	content: url(../resources/loading.gif);
}