/* Main */

/* @media (prefers-color-scheme: light) {
	:root {
		--color-foreground: rgb(255, 255, 255);
		--color-background: rgb(225, 225, 225);
		--color-highlight: hsl(200deg, 100%, 50%);
		--color-text: rgb(50, 50, 50);
		--color-text-description: rgb(150, 150, 150);
	}
} */

@media (prefers-color-scheme: dark) {
	:root {
		--color-foreground: rgb(50, 50, 50);
		--color-background: rgb(25, 25, 25);
		--color-highlight: hsl(200deg, 100%, 50%);
		--color-text: rgb(255, 255, 255);
		--color-text-description: rgb(150, 150, 150);
	}
}

/* Global */

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

body * {
	background-color: initial;
	color: inherit;
}

body *::placeholder {
	color: var(--color-text-description);
}

*.layer {
	background-color: var(--color-foreground);
	border-radius: var(--size-gap);
}

*.depth {
	background-color: var(--color-background);
	border-radius: var(--size-gap);
}

*.layer.in-top,
*.depth.in-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

*.layer.in-right,
*.depth.in-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

*.layer.in-bottom,
*.depth.in-bottom {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

*.layer.in-left,
*.depth.in-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

*.transparent {
	background-color: transparent;
}

@media (prefers-color-scheme: dark) {
	img.icon {
		filter: invert(1);
	}
}

/* *.button {} */

*.button:not(.disabled) {
	cursor: pointer;
	color: var(--color-highlight);
}

*.button:hover {
	filter: invert(0.1);
}

*.button:active {
	filter: invert(0.2);
}

*.button.disabled {
	pointer-events: none;
	filter: opacity(0.5);
}

a {
	text-decoration: none;
}

a:any-link {
	color: var(--color-highlight);
}

hr {
	border-color: var(--color-background);
}

dfn,
time {
	color: var(--color-text-description);
}

::-webkit-scrollbar {
	background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-highlight);
}

/* Local */
body {
	background-image: url(../../resources/Background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-clip: border-box;
	background-origin: border-box;
	background-blend-mode: color-dodge;
}