body {
	margin-inline: auto;
	width: 100%;
	max-width: 120vmin;

	& header {
		& img.logo {
			width: calc(4 * var(--size-standart));
			aspect-ratio: 1;
			filter: drop-shadow(0 0 var(--size-gap) rgb(from var(--color-hud-accent) r g b / 60%));
		}

		& p#bridge-intro {
			text-align: center;
			max-width: 60vmin;
		}
	}

	& main.hud-grid {
		& section#panel-telemetry {
			grid-column: 1 / -1;
		}
	}

	& footer {
		color: var(--color-hud-dim);
		font-size: 0.8em;
	}
}
