/* Main */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border-style: none;
	outline-style: none;
	border-width: var(--size-separator);
	outline-width: var(--size-separator);
	outline-offset: calc(-1 * var(--size-separator));
	text-overflow: ellipsis;
	scroll-behavior: smooth;
}

@supports (-webkit-user-drag: none) {
	* {
		-webkit-user-drag: none;
	}
}

:root {
	--size-standart: clamp(1.75rem, 1rem + 1.5vmin, 2.25rem);
	--size-small-standart: calc(var(--size-standart) / 2);
	--size-large-standart: calc(var(--size-standart) * 2);

	--size-gap: calc(var(--size-standart) / 4);
	--size-small-gap: calc(var(--size-gap) / 2);
	--size-large-gap: calc(var(--size-gap) * 2);

	--size-separator: calc(var(--size-standart) / 12);
	--size-small-separator: calc(var(--size-separator) / 2);
	--size-large-separator: calc(var(--size-separator) * 2);
}

body {
	font-family: system-ui, sans-serif;
	font-size: calc(var(--size-standart) / 2);
	font-weight: normal;
}

/* Global */
*[hidden] {
	display: none !important;
}

*:where(.with-inline-padding, .with-padding) {
	padding-inline: var(--size-gap);

	&.small-padding {
		padding-inline: var(--size-small-gap);
	}

	&.large-padding {
		padding-inline: var(--size-large-gap);
	}
}

*:where(.with-block-padding, .with-padding) {
	padding-block: var(--size-gap);

	&.small-padding {
		padding-block: var(--size-small-gap);
	}

	&.large-padding {
		padding-block: var(--size-large-gap);
	}
}

*:where(.with-inline-gap, .with-gap) {
	column-gap: var(--size-gap);

	&.small-gap {
		column-gap: var(--size-small-gap);
	}

	&.large-gap {
		column-gap: var(--size-large-gap);
	}
}


*:where(.with-block-gap, .with-gap) {
	row-gap: var(--size-gap);

	&.small-gap {
		row-gap: var(--size-small-gap);
	}

	&.large-gap {
		row-gap: var(--size-large-gap);
	}
}

.flex {
	display: flex;

	&.reversed {
		flex-direction: row-reverse;
	}

	&.column {
		flex-direction: column;

		&.reversed {
			flex-direction: column-reverse;
		}
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&:where(.main-center, .center) {
		justify-content: center;
	}

	&:where(.alt-center, .center) {
		align-items: center;
	}
}

.contents {
	display: contents;
}

:enabled,
:disabled,
:enabled + label,
:disabled + label,
[role="button"],
[role="checkbox"],
[role="combobox"],
[contenteditable="true"] {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	resize: none;
}

*:read-write {
	cursor: text;
	text-overflow: unset;
}

input[type="radio"]:checked,
input[type="radio"]:checked + label,
[role="combobox"][aria-checked="true"] {
	cursor: revert;
}

*::placeholder {
	font-weight: normal;
}

*[contenteditable] {
	text-overflow: unset;

	&:empty::before {
		content: attr(aria-placeholder);
		font-weight: normal;
	}

	&.single-line {
		white-space: nowrap;
		overflow: hidden;

		& br {
			display: none;
		}

		& * {
			display: inline;
			white-space: nowrap;
		}
	}
}

input[type="checkbox"] {
	& + label[role="checkbox"].toggle {
		aspect-ratio: 2;
		height: 1.25em;
		display: flex;
		border-radius: 50vmin;
		padding: var(--size-separator);

		& > span.knob {
			aspect-ratio: 1;
			height: 100%;
			border-radius: inherit;
			padding: 0;
			margin-left: 0;
			margin-right: auto;
		}
	}

	&:checked + label[role="checkbox"].toggle > span.knob {
		margin-left: auto;
		margin-right: 0;
	}
}

input[type="color"] {
	-webkit-appearance: none;
	appearance: none;
	width: 2em;
	height: 2em;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: var(--size-gap);
		height: var(--size-gap);
		border-radius: 50vmin;
	}
}

@supports (-webkit-user-drag: element) {
	*[draggable="true"] {
		-webkit-user-drag: element;
	}
}

dialog {
	min-width: 60vmin;
	max-width: calc(100vmin - 2 * var(--size-large-gap));
	width: -moz-fit-content;
	width: fit-content;
	max-height: calc(100dvh - 2 * var(--size-large-gap));
	height: fit-content;
	margin: auto;

	&:not([open]) {
		display: none !important;
	}

	&.loader * {
		text-align: center;
	}

	&.pop-up > *:empty {
		display: none;
	}

	&.pop-up div.container {
		overflow: hidden auto;
		white-space: break-spaces;
	}
}

.grid-line {
	grid-column: 1 / -1;
}

section.option {
	display: grid;
	grid-template:
		'title		value' max-content
		'definition	value' 1fr
		/ 1fr auto;
	gap: var(--size-separator) var(--size-gap);
	padding-top: var(--size-gap);

	& > section.option {
		width: 100%;
		padding-left: 1em;
		grid-column: 1 / -1;
	}

	& > input:not(:checked) ~ section.option {
		display: none !important;
	}

	& > * {
		place-self: start;

		&.title {
			grid-area: title;
		}

		&.value {
			grid-area: value;
			align-self: center;
		}

		&.definition {
			grid-area: definition;
			font-size: smaller;
		}
	}

}

iframe {
	aspect-ratio: 16 / 9;
}

table {
	padding: var(--size-gap);

	& th,
	& td {
		padding: 0.25em 0.5em;
	}
}

img,
span.icon,
.fittable {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

span {

	&.icon,
	&.avatar {
		display: inline-block;
		aspect-ratio: 1;
		height: var(--size-standart);
		width: var(--size-standart);
		will-change: transform;

		&.large-image {
			height: var(--size-large-standart);
		}
	}

	&.in-line {
		height: 1em;
	}
}

hr {
	width: 100%;
	margin: var(--size-gap) 0;
	padding: calc(var(--size-separator) / 2);
}

kbd {
	white-space: nowrap;
	padding: 0.15em 0.35em !important;
	font-family: 'Consolas', sans-serif, system-ui, monospace;
	font-weight: bold;
}

code,
pre {
	white-space: pre;
	tab-size: 4;
	counter-reset: line;
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	overflow-x: auto;
	text-overflow: unset;

	& * {
		-moz-user-select: inherit;
		-webkit-user-select: inherit;
		user-select: inherit;
	}

	& > span {
		white-space: pre;
		display: list-item;

		& ::before {
			counter-increment: line;
			content: counter(line) '	|';
		}
	}
}

::-webkit-scrollbar {
	width: var(--size-gap);
	height: var(--size-gap);
	border-radius: 50vmin;
}

::-webkit-scrollbar-thumb {
	border-radius: 50vmin;
}
