/* Main */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
	border: none;
	outline: none;
}

:root {
	--size-standart: calc(4vmin);
	--size-standart-2: calc(var(--size-standart) * 8);
	--size-gap: calc(var(--size-standart) / 4);
}

body {
	font-family: system-ui, sans-serif;
	font-size: calc(var(--size-standart) / 2);
	line-height: 1;
	scroll-behavior: smooth;
}

/* Global */
*.layer,
*.depth {
	padding: var(--size-gap);
}

*.flex {
	display: flex;
}

img.avatar {
	aspect-ratio: 1;
}

img.icon {
	height: var(--size-standart);
	aspect-ratio: 1;
}

hr {
	margin: var(--size-gap) 0;
}

code {
	white-space: pre-line;
	tab-size: 4;
	list-style: none inside;
	counter-reset: index;
	user-select: text;
}

code * {
	user-select: inherit;
}

code>span {
	white-space: pre;
	display: list-item;
}

code>span::before {
	counter-increment: index;
	content: counters(index, '.', decimal) '	|';
}

::-webkit-scrollbar {
	width: var(--size-gap);
	height: var(--size-gap);
}

::-webkit-scrollbar-thumb {
	border-radius: 50vmin;
}

/* Local */
article[id^="post-"] {
	display: grid;
	grid-template:
		"title		date	" max-content
		"content	content	" 1fr
		"tags		tags	" max-content /
		1fr max-content;
	gap: var(--size-gap);
}

article[id^="post-"]>h1#title {
	grid-area: title;
}

article[id^="post-"]>time#date {
	grid-area: date;
}

article[id^="post-"]>div#content,
article[id^="post-"]>my-markdown#content {
	grid-area: content;
	display: flex;
	flex-direction: column;
	gap: var(--size-gap);
}

article[id^="post-"]>div#tags {
	grid-area: tags;
}

article[id^="post-"]>div#tags dfn::before {
	content: "#";
}

article[id^="post-"]>div#tags dfn:not(:last-child)::after {
	content: ", ";
}