name: Update activity feed

on:
    schedule:
      - cron: '0 */3 * * *'
    workflow_dispatch:


jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        permissions:
            contents: write

        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'
                cache: 'npm'

          - name: Install dependencies
            run: npm ci

          - name: Run collector script
            env:
                SPECIFIC_KEYS: ${{ secrets.SPECIFIC_KEYS }}
                SPECIFIC_VALUES: ${{ secrets.SPECIFIC_VALUES }}

                ORIGIN: ${{ vars.ORIGIN }}

                GITHUB_USERNAME: ${{ vars.USERNAME_GITHUB }}
                GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}

                SPOTIFY_CLIENT_ID: ${{ vars.CLIENT_ID_SPOTIFY }}
                SPOTIFY_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_SPOTIFY }}
                SPOTIFY_TOKEN: ${{ secrets.TOKEN_SPOTIFY }}

                PINTEREST_CLIENT_ID: ${{ vars.CLIENT_ID_PINTEREST }}
                PINTEREST_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_PINTEREST }}
                PINTEREST_TOKEN: ${{ secrets.TOKEN_PINTEREST }}

                STEAM_ID: ${{ vars.ID_STEAM }}
                STEAM_API_KEY: ${{ secrets.API_KEY_STEAM }}

                STACK_OVERFLOW_ID: ${{ vars.ID_STACK_OVERFLOW }}
                STACK_OVERFLOW_API_KEY: ${{ secrets.API_KEY_STACK_OVERFLOW }}

                SOUNDCLOUD_CLIENT_ID: ${{ vars.CLIENT_ID_SOUNDCLOUD }}
                SOUNDCLOUD_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_SOUNDCLOUD }}
                SOUNDCLOUD_TOKEN: ${{ secrets.TOKEN_SOUNDCLOUD }}
            run: npm run walk

          - name: Get Version
            run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

          - name: Commit and Push changes
            run: |
                git config --global user.name "github-actions[bot]"
                git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
                git add .
                if [ -n "$(git status --porcelain)" ]; then
                    git commit -m "${{ env.PACKAGE_VERSION }}"
                    git pull --rebase --autostash
                    git push
                else
                    echo "No changes found."
                fi
