name: Update activity feed

on:
    schedule:
        - cron: '0 */3 * * *'
    workflow_dispatch:


jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Run collector script
              env:
                  TOKEN_GITHUB: ${{ secrets.TOKEN_GITHUB }}
                  USERNAME_GITHUB: ${{ vars.USERNAME_GITHUB }}
              run: npm run walk

            - name: Get Version
              run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

            - name: Commit and Push changes
              run: |
                  git config --global user.name "GitHub Actions bot"
                  git config --global user.email "actions@github.com"
                  git add feed/data/activity.json
                  git commit -m "${{ env.PACKAGE_VERSION }}" || exit 0
                  git push
