name: Update activity feed

on:
    schedule:
      - cron: '0 */3 * * *'
    workflow_dispatch:


jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Setup Node.js
            uses: actions/setup-node@v4
            with:
                node-version: '20'
                cache: 'npm'

          - name: Install dependencies
            run: npm ci

          - name: Run collector script
            env:
                GITHUB_USERNAME: ${{ vars.USERNAME_GITHUB }}
                GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
                SPOTIFY_CLIENT_ID: ${{ secrets.CLIENT_ID_SPOTIFY }}
                SPOTIFY_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_SPOTIFY }}
                SPOTIFY_TOKEN: ${{ secrets.TOKEN_SPOTIFY }}
            run: npm run walk

          - name: Get Version
            run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

          - name: Commit and Push changes
            run: |
                git config --global user.name "GitHub Actions bot"
                git config --global user.email "actions@github.com"
                git add .
                if [ -n "$(git status --porcelain)" ]; then
                    git commit -m "${{ env.PACKAGE_VERSION }}"
                    git push
                else
                    echo "No changes found."
                fi
